

<div class="card p-4 pt-3 m-5 border border-3">

    <h3 class="text-center">Form</h3>

    <p>dcdsdsfdsfjiosdjio</p>

    <div class="input-group mb-3">
        <span class="input-group-text">First</span>
        <input type="text" class="form-control">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text">Last</span>
        <input type="text" class="form-control">
    </div>

    <div class="input-group">
        <span class="input-group-text">Handle</span>
        <input type="text" class="form-control">
    </div>


    <a class="btn btn-primary mt-3 mx-5" href="">Add</a>

    


</div>
